config = ''


manifest {
    homePage = 'https://github.com/h3abionet/chipimputation/'
    description = ''
    mainScript = 'imputation.nf'
}

params {
    project                 = "qc_three_samples"
    homedir                 = "${HOME}/chipdesign/imputation_chip_design" // Path to your script, where the nextflow main script is located
    scratch                 = "/researchdata/fhgfs/mamana"
    output_dir              = "${scratch}/AFRICA_CHIP/${project}" // where to put all pipeline's outputs
    impute_result           = "${output_dir}/impute_results"
    scripts                 = "${params.homedir}/scripts"

    ref_panels {
        // Reference panel 1
        ref_1 {
            dir               = "${scratch}/reference/REF_PANELS"
            name              = 'CBIO'
            hapFile           = "${ref_1.dir}/CBIO/HAP/h3a_chr%s.hap.gz"
            vcfFile           = "${ref_1.dir}/CBIO/VCF/h3a_chr%s.vcf.gz"
            legendFile        = "${ref_1.dir}/CBIO/HAP/h3a_chr%s.legend.gz"
            mapFile           = "${ref_1.dir}/1000G/MAP/genetic_map_chr%s_combined_b37.txt"
            sampleFile        = "${ref_1.dir}/CBIO/CBIO_updated.sample"
        }
        // Reference panel 2. Uncomment if you need two reference panels
        ref_2 {
            dir               = "${scratch}/reference/REF_PANELS"
            name              = 'H3A'
            hapFile           = "${ref_2.dir}/H3A/PHASED/HAP/Eagle.merged.%s_snpeff_dbsnp_anc_gwascat_clinvar_cosmic_mafs-ExAC-KG-agvp-gnomAD-sahgp-trypan_noRelated_noHighMiss_noALT.hap.gz"
            vcfFile           = "${ref_2.dir}/H3A/UNPHASED/VCF/h3a.non_sanger.cleaned.%s.vcf.gz"
            legendFile        = "${ref_2.dir}/H3A/PHASED/HAP/Eagle.merged.%s_snpeff_dbsnp_anc_gwascat_clinvar_cosmic_mafs-ExAC-KG-agvp-gnomAD-sahgp-trypan_noRelated_noHighMiss_noALT.legend"
            mapFile           = "${ref_2.dir}/1000G/MAP/genetic_map_chr%s_combined_b37.txt"
            sampleFile        = "${ref_2.dir}/H3A/PHASED/HAP/H3A.sample"
        }
    }

    datasets{
        GAMBIA_100 {
            vcf = ""
            impute = "${params.output_dir}/impute_results/impute/%s/%s/%s/threesamples.unphased.%s_%s_qc_three_samples_%s_phased.haps_%s-%s.imputed.gz"
            info = "${params.output_dir}/impute_results/impute/%s/%s/%s/threesamples.unphased.%s_%s_qc_three_samples_%s_phased.haps_%s-%s.imputed_info"
        }
    }

    chromosomes             = "22"

}


executor{
    jobName = { "$task.tag" }
}

profiles {
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            executor        = 'pbs'
            queue           = 'UCTlong'
            time            = 4.h
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
