config = ''


manifest {
    homePage = 'https://github.com/h3abionet/chipimputation/'
    description = ''
    mainScript = 'imputation.nf'
}

params {
    project                 = "qc_three_samples"
    homedir                 = "${HOME}/chipdesign/imputation_chip_design" // Path to your script, where the nextflow main script is located
    scratch                 = "/researchdata/fhgfs/mamana"
    output_dir              = "${scratch}/AFRICA_CHIP/${project}" // where to put all pipeline's outputs
    impute_result           = "${output_dir}/impute_results"
    scripts                 = "${params.homedir}/scripts"

    ref_panels = "CAAPA"

    datasets{
        GAMBIA_100 {
            vcf = ""
            impute = "${params.output_dir}/impute_results/impute/%s/%s/%s/threesamples.unphased.%s_%s_qc_three_samples_%s_phased.haps_%s-%s.imputed.gz"
            info = "${params.output_dir}/impute_results/impute/%s/%s/%s/threesamples.unphased.%s_%s_qc_three_samples_%s_phased.haps_%s-%s.imputed_info"
        }
    }

    chromosomes             = "22"

}


executor{
    jobName = { "$task.tag" }
    queueSize = 60
}

profiles {
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            executor        = 'pbs'
            queue           = 'UCTlong'
            time            = 4.h

        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
