config = ''


manifest {
    homePage = 'https://github.com/h3abionet/chipimputation/'
    description = ''
    mainScript = 'main.nf'
}

params {
    project                 = "gwen"
    homedir                 = "https://github.com/h3abionet/chipimputation/main.nf -r v3 // Path to your script, where the nextflow main script is located
    scratch                 = "/researchdata/fhgfs/arngwe001"
    output_dir              = "${scratch}/H3AFRICA/${project}" // where to put all pipeline's outputs
    impute_result           = "${output_dir}/impute_results"
    scripts                 = "${params.homedir}/scripts"

    ref_panels = "CAAPA"
    //ref_panels = "CBIO, 1000G, AGR, HRC, CAAPA, UK10K"


    datasets{
        GAMBIA_50 {
            vcf = "/researchdata/fhgfs/arngwe001/50/GAMBIA_H3AFRICAv1_SANGER_50Samples_chr22.vcf.gz"
            impute = "/researchdata/fhgfs/arngwe001/resultsfor50chr22/%s/GAMBIA_%s_chr22.imputed.gz" // ${dataset}_${ref_panel}_chr${chrm}.imputed.gz
            info = "/researchdata/fhgfs/arngwe001/resultsfor50chr22/%s/GAMBIA_%s_chr22.imputed.info"// ${dataset}_${ref_panel}_chr${chrm}.imputed.info
        }

        ASW_50 {
            vcf = "/researchdata/fhgfs/arngwe001/50/ASW_H3AFRICAv1_SANGER_50Samples_chr22.vcf.gz"
            impute = "/researchdata/fhgfs/arngwe001/resultsfor50chr22/%s/ASW_%s_chr22.imputed.gz"
            info = "/researchdata/fhgfs/arngwe001/resultsfor50chr22/%s/ASW_%s_chr22.imputed.info"
        }

    }

    chromosomes             = "22"

}


executor{
    jobName = { "$task.tag" }
}

profiles {
    // For execution on a PBS scheduler, no containerization.
    pbs {
        process{
            executor        = 'pbs'
            queue           = 'UCTlong'
            time            = 4.h
        }
    }
}

workflow.onComplete = {
    println "========================================="
    println "Pipeline completed at: $workflow.complete"
    println "Execution status: ${ workflow.success ? 'OK' : 'failed' }"
}
